//颜色定义规范
$white = #ffffff
$color-background = #f9f9f9
$color-theme = #F8B530
$color-text = #313131
$color-text-n = #666
$color-text-l = #999
$color-text-footer = #a4aab3
$color-background-w = #fff
$color-border = #e6e6e6
$color-link = #478fe9
$color-increase = #ff5b4d
$color-dialog-background = #666

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 13px
$font-size-medium-x = 15px
$font-size-large = 18px
$font-size-large-x = 22px
$font-size-large-xx = 28px
$font-size-large-xxx = 30px
