//颜色定义规范
$color-background = #f7f7f7
$color-theme = #ff5467
$color-text = #333
$color-text-n = #666
$color-text-l = #999
$color-text-footer = #a4aab3
$color-background-w = #fff
$color-border = #e6e6e6
$color-link = #478fe9
$color-increase = #ff5b4d
$color-dialog-background = #666

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
$font-size-large-xx = 28px
$font-size-large-xxx = 30px
